* {
	font-family: sectra-display;
	/*border: 1px solid white;*/
}

.fullscreen-video {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

.hearted, .kombucha, .zivit{
	position: fixed;
	left: 0;
	top: 0;
	max-width: 100%;
	z-index: -50;
	opacity: 0.9;
}


.hover-block{
	background-color: skyblue;
	opacity: 0.3;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100px;
	opacity: 0;
}


.H{
	position: absolute;
	left: 6%;
	top: 65%;

	-webkit-transition: color 2s, font-size 0.6s;
    -moz-transition:    color 2s, font-size 0.6s;
    -ms-transition:     color 2s, font-size 0.6s;
    -o-transition:      color 2s, font-size 0.6s;
    transition:         color 2s, font-size 0.6s;

}

.H:hover{
	color: #fc2ffc;
	font-size: 100px;
}


.K{
	position: absolute;
	left: 26%;
	top: 17%;

	-webkit-transition: color 2s;
    -moz-transition:    color 2s;
    -ms-transition:     color 2s;
    -o-transition:      color 2s;
    transition:         color 2s;
}

.K:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    color: #ce061a;
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, -1px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}


.C{
	position: absolute;
	left: 49%;
	top: 47%;

	-webkit-transition: opacity 1.6s;
    -moz-transition:    opacity 1.6s;
    -ms-transition:     opacity 1.6s;
    -o-transition:      opacity 1.6s;
    transition:         opacity 1.6s;

}

.C:hover {
	opacity: 0;
}

.S{
	position: absolute;
	left: 78%;
	top: 30%;

	-webkit-transition: opacity 1.6s;
    -moz-transition:    opacity 1.6s;
    -ms-transition:     opacity 1.6s;
    -o-transition:      opacity 1.6s;
    transition:         opacity 1.6s;
}

.S:hover {
	opacity: 0;
}

.Z{
	position: absolute;
	left: 69%;
	top: 78%;
	transform: rotate(0);
	transition: transform 1.4s ease;

	-webkit-transition: color 1.9s, transform 1.4s;
    -moz-transition:    color 1.9s, transform 1.4s;
    -ms-transition:     color 1.9s, transform 1.4s;
    -o-transition:      color 1.9s, transform 1.4s;
    transition:         color 1.9s, transform 1.4s;

}

.Z:hover{
	transform: rotate(270deg);
	color: #2777f7;

}


.ello-text, .isses-text, .lassic-text, .erve-text, .esty-text {
	position:relative;
	top: 61px;
}

.ello-text {
	left: 103px;
}

.isses-text {
	left: 102px;
}

.lassic-text {
	left: 100px;
}

.erve-text {
	left: 74px;
}

.esty-text {
	left: 78px;
}


.earted-text, .ombucha-text, .ivit-text{
	position:relative;
	top: 61px;
}

.earted-text {
	left: 103px;
}

.ombucha-text {
	left: 98px;
	width: 700px;
}

.ivit-text {
	left: 78px;
}

.sentence {
	position: absolute;
	color: white;
	font-size: 70px;
}


.sentence-black {
	position: absolute;
	color: black;
	font-size: 70px; !important
	/*why does the size keep with the parent tag!!!???*/
}


.font {
	position: absolute;
	color: white;
	font-size: 140px;
	height: 150px;
}

@font-face {
	font-family: sectra-display;
	src: url(../font/GT-Sectra-Display-Regular.ttf);
}

.black{
	color: black;
}

.fade-out{
	opacity: 1;
	animation: fade 1.5s linear;
    animation-fill-mode: forwards; 
}

@keyframes fade {
	0% { opacity: 1}
	100% {opacity: 0}
}

.fade-in{
	opacity: 0;
	animation: in 1.5s linear;
    animation-fill-mode: forwards;  
}

@keyframes in {
	0% { opacity: 0}
	100% {opacity: 1}
}

.hide {
	display: none;
}

.summary-H, .summary-Z, .summary-K, .enter-H, .enter-Z, .enter-K, .back-H, .back-Z, .back-K {
	position: absolute;
	color: white;
	font-size: 15px;
	z-index: 10;
	letter-spacing: 1px;
}

.summary-H, .summary-Z, .summary-K {
	left: 1.2%;
	bottom: 3%;
}

.summary-H:hover { font-size: 16px; }
.summary-Z:hover { font-size: 16px; }
.summary-K:hover { font-size: 16px; }

.enter-H, .enter-Z, .enter-K {
	right: 1.5%;
	bottom: 3%;
}

.enter-H:hover { font-size: 16px; }
.enter-Z:hover { font-size: 16px; }
.enter-K:hover { font-size: 16px; }

.back-H, .back-Z, .back-K {
	right: 1.5%;
	top: 3%;
}

.back-H:hover { font-size: 16px; }
.back-Z:hover { font-size: 16px; }
.back-K:hover { font-size: 16px; }


.summary-block-H{
	position: absolute;
	left: 0;
	top: 15%;
	width: 300px;
	height: 420px;
	z-index: 10;
	background-color: #c1263e;
	opacity: 0.7;
	border: 0.3px solid black;
	font-size: 20px;
	overflow: hidden;
}

.summary-block-K{
	position: absolute;
	left: 0;
	top: 15%;
	width: 300px;
	height: 420px;
	z-index: 10;
	background-color: #c1263e;
	opacity: 0.7;
	border: 0.3px solid black;
	font-size: 20px;
	overflow: hidden;
}

.summary-block-Z{
	position: absolute;
	left: 0;
	top: 15%;
	width: 300px;
	height: 420px;
	z-index: 10;
	background-color: #c1263e;
	opacity: 0.7;
	border: 0.3px solid black;
	font-size: 20px;
	overflow: hidden;
}

* .summary-block-K, * .summary-block-Z,* .summary-block-H { padding: 10px; }

a {text-decoration: none;}

a:link, a:visited {
    color: white;
}




